<main>
    <div class="d-flex justify-content-center align-items-center flex-column">
        <h1>Recuperar contraseña</h1>
        <form action="/api/sessions/changepass" method="post" class="form-group d-flex flex-column gap-1 align-items-center">
            <input type="text" class="form-control" name="email" placeholder="Email">
            <input type="text" class="form-control" name="newPassword" placeholder="Contraseña nueva">
            <button class="w-50 p-1 rounded-3">Sign In</button>
            <a href="/login" class="fs-4">Login</a>
        </form>
    </div>
</main>