<main>
    <div class="d-flex justify-content-center align-items-center flex-column">
        <h1>Login</h1>
        <form action="/api/sessions/login" method="post" class="form-group d-flex flex-column gap-1 align-items-center">
            <input type="text" class="form-control" name="email" placeholder="Email">
            <input type="text" class="form-control" name="password" placeholder="Password">
            <button class="w-50 p-1 rounded-3">Sign In</button>
            <a href="/register" class="fs-4">Register</a>
            <a href="/changepass" class="fs-4">¿Olvidaste tu contraseña?</a>
        </form>
    </div>
</main>