<main>
    <div class="d-flex justify-content-center align-items-center flex-column">
        <h1>Register</h1>
        <form action="/api/sessions/register" method="post" class="form-group d-flex flex-column gap-1 align-items-center">
            <input type="text" class="form-control" name="first_name" placeholder="First Name">
            <input type="text" class="form-control" name="last_name" placeholder="Last Name">
            <input type="text" class="form-control" name="email" placeholder="E-mail">
            <input type="text" class="form-control" name="password" placeholder="Password">
            <button class="w-50 p-1 rounded-3">Sign Up</button>
            <a href="/login" class="fs-4">Login</a>
        </form>
    </div>
</main>